*{margin:0;box-sizing:border-box;color:#3e3e3e;font-family:Helvetica}
body{background-color:#e0e0e0}
.navbar{display:flex;list-style:none;justify-content:space-between;align-items:center;padding:10px 20px;background:#e9e9e9;box-shadow:5px 5px 10px #bebebe,-5px -5px 10px #fff}
#searchBar{max-width: 30rem;font-size:16px;padding:12px 20px;border:0;margin-left:20px;flex:auto;border-radius:50px;background:#e9e9e9;box-shadow:inset 5px 5px 10px #bebebe,inset -5px -5px 10px #fff}
footer{width:100%;padding:1rem 2rem;margin-top:auto;display:flex;justify-content:space-between;background:#e9e9e9;box-shadow:5px 5px 10px #bebebe,-5px -5px 10px #fff}
.footer-img{height:4rem}.flex-center{display:flex}
#myCards{min-height:76.5vh;max-width:1600px;display:flex;align-content:flex-start;flex-wrap:wrap;flex-direction:row;justify-content:center;margin:2rem auto}
.repo-icon-filter{height: 1.3rem;padding: 0.2rem;}
.sort{display: flex; margin-left: 1rem;}
.sort-box{height: 1.8rem;margin:0.2rem;display: flex;align-items: center;justify-content: center;padding: 0 0.4rem;}
.filters{display: flex;align-items: center}
.filter-selected{background:#e9e9e9;box-shadow:inset 5px 5px 10px #bebebe,inset -5px -5px 10px #fff; border-radius:5px;}
.filter-includes{display: flex;}
.filter-includes-box{width: 1.8rem;height: 1.8rem;margin:0.2rem;display: flex;align-items: center;justify-content: center;}
.tooltip{position:absolute;z-index:1070;display:block;font-style:normal;font-weight:400;line-height:1.42857143;line-break:auto;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;font-size:12px;opacity:0}
.tooltip.in{opacity:.9}
.tooltip.top{padding:5px 0;margin-top:-3px}
.tooltip.right{padding:0 5px;margin-left:3px}
.tooltip.bottom{padding:5px 0;margin-top:3px}
.tooltip.left{padding:0 5px;margin-left:-3px}
.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#3e3e3e}
.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#3e3e3e}
.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#3e3e3e}
.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#3e3e3e}
.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#3e3e3e}
.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#3e3e3e}
.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#3e3e3e}
.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#3e3e3e}
.tooltip-inner{max-width:200px;padding:3px 8px;color:#e0e0e0;text-align:center;background-color:#3e3e3e;border-radius:4px}
.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}